<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" value="PushNotificationsStatus" id="com.nrswolf.cordova.push-notifications-status" version="1.0.0">
	<name>Push Notifications Status</name>
	<author>Russell Wolf</author>
	<description>Cordova plugin to determine whether user has enabled push notification settings via native iOS settings.
	</description>
	<license>Apache 2.0</license>
	<keywords>cordova, phonegap, push, push notifications</keywords>
	<engines>
		<engine name="cordova" version=">=3"/>
	</engines>
	<js-module src="www/PushNotificationsStatus.js" name="PushNotificationsStatus">
		<clobbers target="window.PushNotificationsStatus"/>
	</js-module>
	<platform name="ios">
		<config-file target="config.xml" parent="/*">
			<feature name="PushNotificationsStatus">
				<param name="ios-package" value="PushNotificationsStatus"/>
			</feature>
		</config-file>
		<header-file src="src/ios/PushNotificationsStatus.h"/>
		<source-file src="src/ios/PushNotificationsStatus.m"/>
	</platform>
</plugin>

